aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
discord.py==0.16.12
dnspython==1.15.0
dnspython3==1.15.0
idna==2.7
idna-ssl==1.1.0
langdetect==1.0.7
lxml==4.2.5
mcstatus==2.2
multidict==4.4.2
py-translator
python-slugify==1.2.6
requests==2.20.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.24.2
websockets==7.0
yarl==1.2.6
