aiohttp
async-timeout
attrs
beautifulsoup4
certifi
chardet
Click
discord.py
dnspython
dnspython3
idna
idna-ssl
langdetect
lxml
mcstatus
multidict
# py-translator  Reason: PyPi repository 404 not found: https://pypi.org/project/py-translator/
python-slugify
requests
six
Unidecode
urllib3
websockets
yarl
